<div class="container-fluid background">
  <div class="col-12 d-flex justify-content-center">
    <h1>Sysops Practice tests</h1>
</div>
  <div class="row d-flex justify-content-around">
    <div class="col-4 d-flex justify-content-center"><button [routerLink]="[1]">Practice Test 1</button></div>
    <div class="col-4 d-flex justify-content-center"><button [routerLink]="[2]">Practice Test 2</button></div>
    <div class="col-4 d-flex justify-content-center"><button [routerLink]="[3]">Practice Test 3</button></div>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-4 d-flex justify-content-center"><button [routerLink]="[4]">Practice Test 4</button></div>
    <div class="col-4 d-flex justify-content-center"><button [routerLink]="[5]">Practice Test 5</button></div>
    <div class="col-4 d-flex justify-content-center"><button [routerLink]="[6]">Practice Test 6</button></div>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-4 d-flex justify-content-center"><button [routerLink]="[7]">Practice Test 7</button></div>
    <div class="col-4 d-flex justify-content-center"><button [routerLink]="[8]">Practice Test 8</button></div>
    <div class="col-4 d-flex justify-content-center"><button [routerLink]="[9]">Practice Test 9</button></div>
  </div>
</div>
